page-my-cart {

    .noBackSpace{
        float: left;
        padding-right: 10px;
    }

    .toolbar-background-md {
        background:linear-gradient(90deg, #8c36a5 0%, #664bdc 100%) !important;
        }

    .ion-button{
        background:linear-gradient(90deg, #8c36a5 0%, #664bdc 100%) !important;
    }

    .ion-button2{
        background:linear-gradient(50deg, #8d569e 0%, #52084b 100%) !important;
    }

    .ion-button3{
        background:linear-gradient(100deg, #a00303 0%, #f70f49 100%) !important;
    }

}
