page-checkout {

    .texto02{
        font-size: 22px;
        color: maroon;
        font-weight: bold;
    }

    .texto01{
        font-size: 16px;
        color: rgb(4, 18, 83);
        font-weight: bold;
    }

    .texto03{

        font-size: 22px;
        color: rgb(255, 255, 255) !important;
    }

     .toolbar-background-md {
        background:linear-gradient(90deg, #8c36a5 0%, #664bdc 100%) !important;
        }


    .icon{
        color: rgb(214, 143, 255);
    }

    .ion-button{
        background:linear-gradient(90deg, #8c36a5 0%, #664bdc 100%) !important;
    }

}
