<ion-header no-border>
  <ion-navbar>
     <span class="texto03">Checkout </span>
     <ion-buttons end>

      <button ion-button icon-only (click)="openProdutos()" >
        <ion-icon name="search"></ion-icon>
      </button>
  
      <button ion-button icon-only (click)="logaout()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content>



    <ion-list style="margin-top: 20px;">
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="genero_id != 'Masculino'" src="../../assets/imgs/fem.jpg">
          <img *ngIf="genero_id == 'Masculino'" src="../../assets/imgs/masculino.png">
        </ion-avatar>
        <h2 style="font-weight: 600;">{{nome_id}}</h2>
        <h3>{{email_id}}</h3>

        <span item-end>
          <ion-icon name="home"></ion-icon>
          <span style="font-size: x-small;">{{endereco_id}}  {{numero_id}}</span>  
          <p style="font-size: xx-small;">{{bairro_id}} {{cidade_id}} - {{estado_id}}</p>
        </span>
      
      </ion-item>
    </ion-list>
   


  <ion-item *ngFor="let item Of cart.items">

    <ion-icon item-start color="danger" name="checkbox"></ion-icon>

    <h2>  {{item.nome}} <p style="font-size: xx-small;">Quantidade: {{item.qtd}}</p></h2>
    

    <button item-end ion-button color="secondary" outline>{{item.valor_venda | currency: 'BRL'}}</button>
    
  </ion-item>
  
  <ion-item>
    
   
    <button item-end ion-button color="danger" >Total: {{total | currency: 'BRL'}} </button>
   
    <button ion-button color="verde">Total Produtos: {{cart.totalProduto}}</button>
  
  </ion-item>


  <ion-footer no-border>
    
      <button class="ion-button" ion-button  color="primary" block (click)="finalizar()">Finalizar Pedidos</button>
  
  </ion-footer>

</ion-content>
